<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestNG Sanity Suite" verbose="4">

	<test name="App Test">
		<classes>
			<class name="mytests.AppTest" />
		</classes>
	</test>
	
	<test name="Data Driven Test">
		<classes>
			<class name="testngfeatures.DataDrivenTestNg" />
		</classes>
	</test>

</suite>